<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/atmsystem</property>
        <property name="hibernate.connection.username">root</property>
         <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>

        <!-- Hibernate properties -->
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
   
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Automatically create/update database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping files -->
        <mapping class="AtmSystem.Entity.Bank"/>  
        <mapping class="AtmSystem.Entity.customer"/>   
        <mapping class="AtmSystem.Entity.account"/>
        <mapping class="AtmSystem.Entity.card"/>
        <mapping class="AtmSystem.Entity.transaction"/>
    </session-factory>
       

</hibernate-configuration>
